<div  ng-include="'header.html'"></div>
<div ng-controller = "personController as  pcontroller" class="container-fluid">
<div class ="row">
    		<div class="col-md-4">
    		<label>Name:</label>
    		</div>
    		<div class="col-md-8">
    		<input id = "name" next-on-enter type="text" class="form-control" id="person_Name" ng-model="person.name" tabindex="1">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-5">
    		<label>Address:</label>
    		</div>
    		<div class="col-md-7">
    		<input next-on-enter type="text" class="form-control" id="person_Add1" ng-model="person.add" tabindex="2">
    		</div>
    	</div>
    	
    	
    	<div class ="row">
    		<div class="col-md-1">
    		<label>State:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="text" class="form-control" id=person_State ng-model="person.state" tabindex="3">
    		</div>
    		<div class="col-md-1">
    		<label>City:</label>
    		</div>
    		<div class="select-box col-md-3">
    		<!-- <p>City: {{city.selected}} </p> -->
    		<ui-select ng-model="city.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 150px;"
               title="Choose a city"
               append-to-body="true" tabindex="4">
               <ui-select-match placeholder="Enter City Name...">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="city in cities track by $index"
               refresh="getAllCities($select.search)"
               refresh-delay="0">
               <div ng-bind-html="city.name | highlight: $select.search"></div>
               </ui-select-choices>
           </ui-select>
    		</div>
    		
    		<div class="col-md-1">
    		<label>Pin:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="text" class="form-control" id=person_Pin ng-model="person.pin" tabindex="5">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-2">
    		<label>Mobile:</label>
    		</div>
    		<div class="col-md-10">
    		<input next-on-enter type="text" class="form-control" id="person_Mobile" ng-model="person.mobile" tabindex="6">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-2">
    		<label>Type:</label>
    		</div>
    		<div class="select-box col-md-10">
    		<!-- <p>Type: {{type.selected}} </p> -->
    		<ui-select ng-model="type.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 150px;"
               title="Choose type"
               append-to-body="true" tabindex="7">
               <ui-select-match placeholder="Enter Type...">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="type in types | filter: $select.search"> 
               <div ng-bind-html="type.name | highlight: $select.search"></div>
               </ui-select-choices>
           </ui-select>
    		</div>
    		<!-- <div class="col-md-10">
    		<select next-on-enter ui-select2 class ="dropdown" ng-model="person.type">
    			 <option value="CONSIGNOR">CONSIGNOR</option>
    			 <option value="CONSIGNEE">CONSIGNEE</option>
    	    </select>
    		</div> -->
    	</div>
    	<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout = 2000 class="alert">{{alert.msg}}</div>
    	<button type="submit" class="btn btn-info" value="Add Person" ng-click="pcontroller.addPerson(person)" tabindex="8">Add</button>
  </div>
 	