<div  ng-include="'header.html'"></div>
<div ng-controller = "BookingController as  ccontroller" class="container-fluid">
<div ng-include="'paidBy.html'"></div>
    	<div class ="row">
    	<div class="col-md-6">
    		<div class ="row">
    		<div class="col-md-4">
    		<label>Bulti Number:</label>
    		</div>
    		<div class="col-md-4">
    		<input id = "id" type="text" class="form-control" id="consignor_id" ng-model="consignment.displayIndex">
    		</div>
    		<div class="col-md-4">
    		<input type="date" class="form-control" id=date ng-model="consignment.entry_Date" tabindex="-1">
    		</div>
    		</div>
    	</div>	
    	<div class="col-md-6">
    	<div class ="row">
    		<div class="col-md-3">
    		<label>Payment Type :</label>
    		</div>
    		
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="payment_Type" value = "Cash" ng-model="consignment.payment_Type" data-toggle="modal" ng-change=selectPaidBy(consignment.payment_Type) tabindex="-1">Cash
   		 		</label>
    		</div>
    		
    		
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="payment_Type" value = "Credit" ng-model="consignment.payment_Type" data-toggle="modal" ng-change=selectPaidBy(consignment.payment_Type) tabindex="-1">Credit
   		 		</label>
    		</div>
    		
    	
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="payment_Type" value = "To Pay" ng-model="consignment.payment_Type" data-toggle="modal" ng-change=selectPaidBy(consignment.payment_Type) tabindex="-1">To Pay
   		 		</label>
    		</div>
    	</div>	
    	</div>
    	</div>
   	
  <div class="row">
    <div class="col-md-6">
    <!--Start saved consignor-->
    	<div class ="row">
    		<div class="col-md-4">
    		<label>Consignor Name:</label>
    		<!-- <p>Selected: {{consignor.selected.id}}</p> -->
    		</div>
    		<div ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNOR'" class="select-box col-md-8">
    		<ui-select ng-model="consignor.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 350px;"
               title="Choose a Consignor"
               append-to-body="true">
               <ui-select-match placeholder="Enter Name...">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="consignor in consignors track by $index"
               refresh="getConsignors($select.search)"
               refresh-delay="0" tabindex="1">
               <div ng-bind-html="consignor.name | highlight: $select.search"></div>
               </ui-select-choices>
           </ui-select>
    		</div>
    		
    		<div   ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'" class="col-md-8">
    		<input next-on-enter type="text" class="form-control" id="consignor_name" ng-model="consignor.selected.name">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-5">
    		<label>Consignor Address:</label>
    		</div>
    		<div class="col-md-7">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'"next-on-enter type="text" class="form-control" id="consignor_Add1" ng-model="consignor.selected.add">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNOR'"next-on-enter type="text" class="form-control" id="consignor_Add1" ng-model="consignor.selected.add" ng-readonly="true">
    		</div>
    	</div>
    	
    	
    	<div class ="row">
    		<div class="col-md-1">
    		<label>State:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_State ng-model="consignor.selected.state">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_State ng-model="consignor.selected.state" ng-readonly="true">
    		</div>
    		<div class="col-md-1">
    		<label>City:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_City ng-model="consignor.selected.city">
    		<input ng-show = "consignment.payment_Type === 'Credit'&& consignment.paidBy === 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_City ng-model="consignor.selected.city" ng-readonly="true">
    		</div>
    		<div class="col-md-1">
    		<label>Pin:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_Pin ng-model="consignor.selected.pin">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNOR'"next-on-enter type="text" class="form-control" id=consignor_Pin ng-model="consignor.selected.pin" ng-readonly="true">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-2">
    		<label>Mobile:</label>
    		</div>
    		<div class="col-md-10">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNOR'"next-on-enter type="text" class="form-control" id="consignor_Mobile" ng-model="consignor.selected.mobile">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNOR'"next-on-enter type="text" class="form-control" id="consignor_Mobile" ng-model="consignor.selected.mobile" ng-readonly="true">
    		</div>
    	</div>
  	   	<!-- End Saved consignor -->
  	   	
    		<div class ="row">
    		<div class="col-md-3">
    		<label>Type :</label>
    		</div>
    		
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="type" value="CRTN" ng-model="consignment.type">CRTN
   		 		</label>
    		</div>
    		
    		
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="type" value="BORI" ng-model="consignment.type">BORI
   		 		</label>
    		</div>
    		
    	
    		<div class="col-md-3">
    			<label class="radio-inline">
     			 <input next-on-enter type="radio" name="type"  value="OPEN" ng-model="consignment.type">OPEN
   		 		</label> 
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-4">
    		<label>Remarks:</label>
    		</div>
    		<div class="col-md-8">
    		<input next-on-enter type="text" class="form-control" id="remarks" ng-model="consignment.remarks">
    		</div>
    	</div>
    	
    </div>
    
    <div class="col-md-6">
     <!-- Consignee Saved Start -->
    	<div class ="row">
    		<div class="col-md-4">
    		<label>Consignee Name:</label>
    		</div>
    		<div ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" class="select-box col-md-8">
    		<ui-select ng-model="consignee.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 350px;"
               title="Choose a Consignee"
               append-to-body="true">
               <ui-select-match placeholder="Enter Name...">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="consignee in consignees track by $index"
               refresh="getConsignees($select.search)"
               refresh-delay="0">
               <div ng-bind-html="consignee.name | highlight: $select.search"></div>
               </ui-select-choices>
           </ui-select>
    		</div>
    		
    		<div class="col-md-8">
    		  <input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'"next-on-enter type="text" class="form-control" id="consignee_name" ng-model="consignee.selected.name">		
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-5">
    		<label>Consignee Address:</label>
    		</div>
    		<div class="col-md-7">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'"next-on-enter type="text" class="form-control" id="consignee_Add1" ng-model="consignee.selected.add">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" next-on-enter type="text" class="form-control" id="consignee_Add1" ng-model="consignee.selected.add" ng-readonly="true">
    		</div>
    	</div>
    	
    	
    	<div class ="row">
    		<div class="col-md-1">
    		<label>State:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'"next-on-enter type="text" class="form-control" id=consignee_State ng-model="consignee.selected.state" >
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" next-on-enter type="text" class="form-control" id=consignee_State ng-model="consignee.selected.state" ng-readonly="true">
    		</div>
    		<div class="col-md-1">
    		<label>City:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'"next-on-enter type="text" class="form-control" id=consignee_City ng-model="consignee.selected.city" >
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" next-on-enter type="text" class="form-control" id=consignee_City ng-model="consignee.selected.city" ng-readonly="true">
    		</div>
    		<div class="col-md-1">
    		<label>Pin:</label>
    		</div>
    		<div class="col-md-3">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'"next-on-enter type="text" class="form-control" id=consignee_Pin ng-model="consignee.selected.pin" >
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" next-on-enter type="text" class="form-control" id=consignee_Pin ng-model="consignee.selected.pin" ng-readonly="true">
    		</div>
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-2">
    		<label>Mobile:</label>
    		</div>
    		<div class="col-md-10">
    		<input ng-show = "consignment.payment_Type != 'Credit' || consignment.paidBy != 'CONSIGNEE'" next-on-enter type="text" class="form-control" id="consignee_Mobile" ng-model="consignee.selected.mobile">
    		<input ng-show = "consignment.payment_Type === 'Credit' && consignment.paidBy === 'CONSIGNEE'" next-on-enter type="text" class="form-control" id="consignee_Mobile" ng-model="consignee.selected.mobile" ng-readonly="true">
    		</div>
    	</div>
    <!-- Consignee Saved End --> 	
    	<div class ="row">
    		
    		<div class="col-md-2">
    		<label>Quantity:</label>
    		</div>
    		<div class="col-md-2">
    		<input next-on-enter type="number" class="form-control" id=quantity ng-model="consignment.quantity" ng-init = "consignment.quantity=0">
    		</div>
    		
    		<div class="col-md-2">
    		<label>Weight:</label>
    		</div>
    		<div class="col-md-2">
    		<input next-on-enter type="number"  class="form-control"  id=weight ng-model="consignment.weight"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-init = "consignment.weight=0">
    		</div>
    		
    		<div class="col-md-1">
    		<label>Rate:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="number" class="form-control" id=rate ng-model="consignment.rate"   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-init = "consignment.rate=0">
    		</div>
    	</div>
    	
    	<div class ="row">	
    		<div class="col-md-3">
    		<label>Carrige Charge:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="number" class="form-control" id=carrige_charge ng-model="consignment.carrige_charge"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-init = "consignment.carrige_charge=0">
    		</div>
    		
    		<div class="col-md-3">
    		<label>Other Charge:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="number" class="form-control" id=discount ng-model="consignment.other_charge"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-init = "consignment.other_charge=0">
    		</div>	
    	</div>
    	
    	<div class ="row">	
    		<div class="col-md-3">
    		<label>S Tax:</label>
    		</div>
    		<div class="col-md-3">
    		<input next-on-enter type="number" class="form-control" id=s_Tax ng-model="consignment.s_Tax"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-init = "consignment.s_Tax=0" ng-blur="ccontroller.checkOnBlur()">
    		</div>
    		
    		<div class="col-md-2">
    		<label>Basic Freight:</label>
    		</div>
    		<div class="col-md-1">
            <input ng-model="checked" type="checkbox" value="" name="check-box">
           </div>
    		<div class="col-md-3">
    		<input next-on-enter type="number" class="form-control" id=discount ng-model = "basic_freight"  ng-disabled ="!checked"  ng-readonly="!checked" ng-blur="ccontroller.updateRate()" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
    		</div>	
    	</div>
    	
    	<div class ="row">
    		<div class="col-md-3">
    		<label>Total Amount:</label>
    		</div>
    		<div class="col-md-9">
    		<label ng-model = "basic_freight">{{consignment.weight*consignment.rate + consignment.carrige_charge + consignment.other_charge + consignment.s_Tax }}</label>
    		</div>
    	</div>
    	
    	
    </div>
  </div>
  
  <button type="submit" class="btn btn-info" value="Add Consignment" ng-click="ccontroller.addConsignment(consignment,consignor,consignee)">Book</button>
 <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout = 2000 class="alert">{{alert.msg}}</div>   

</div>

