
<div class = "container"  >
<div ng-include="'header.html'"></div>
<div ng-controller="DispatcherController as dcontroller" class="container-fluid">
             
            <div class ="row">
    		<div class="col-md-2">
    		<label>Dispatch ID:</label>
    		</div>
    		<div class="col-md-2">
    		<input type="text" class="form-control" id="consignor_id" ng-model="dispatcher.id" ng-readonly="true" ng-init = "dispatcher.id=0" tabindex="-1">
    		</div>
    	    </div>
            
            <div class="row">
            <div class="col-md-12">
    		<div ui-grid="dcontroller.gridOptions"  ui-grid-resize-columns ui-grid-selection class="myGrid" tabindex="-1"></div>
    		</div>	
    		</div>
    		
    		<div class="row">
            
            <div class="col-md-2">
    		<label>Driver Name:</label>
    		</div>
            
            <div class="col-md-2">
    		<input id ="name" next-on-enter type="text" class="form-control" id="consignor_Name" ng-model="dispatcher.driver_Name" tabindex="1">
    		</div>	
    		
    		<div class="col-md-2">
    		<label>VIA:</label>
    		</div>
    		
    		<div class="select-box col-md-2">
    		<!-- <p>City: {{city.selected}} </p> -->
    		<ui-select ng-model="city.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 150px;"
               title="Choose a city"
               append-to-body="true" tabindex="2">
               <ui-select-match placeholder="Enter City Name...">{{$select.selected.city}}</ui-select-match>
               <ui-select-choices repeat="city in cities track by $index"
               refresh="getAllCities($select.search)"
               refresh-delay="0">
               <div ng-bind-html="city.city | highlight: $select.search"></div>
               </ui-select-choices>
           </ui-select>
    		</div>
    		
    		<!-- <div class="col-md-2">
    		<select next-on-enter ui-select2 class ="dropdown"  ng-model="dispatcher.city">
    			 <option value=""></option>
    			 <option ng-repeat="city in cities" value="{{city.city}}">{{city.city}}</option>
    		</select>
    		</div> -->
    		
    		<div class="col-md-2">
    		<label>State:</label>
    		</div>
    			
    		<div class="col-md-2">
    		<input next-on-enter type="text" class="form-control" id="consignor_Name" ng-model="dispatcher.state" tabindex="3">
    		</div>	
    		</div>
    		
    		<div class="row">
            <div class="col-md-2">
    		<button class="btn btn-info"  value="Submit" ng-click="dcontroller.addDispatcher(dispatcher)" tabindex="4">Submit</button>
    		</div>	
    		</div>
    		<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout = 2000 class="alert">{{alert.msg}}</div>
        
        

</div>
</div>
