
<!-- Modal -->
<div id="paymentDedtailsModal" class="modal fade bs-example-modal-lg" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 25px">
      <div class="modal-header">
        <button type="button" class="close" ng-click="ccontroller.addPayments(false)" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment Details</h4>
       
        <h4 align="left"><span class="label label-primary"> Name : {{person.selected.name}}</span></h4>
        <h4 ng-if ="search.type === 'Cash'" align="right"><span class="label label-default" data-toggle="collapse" href="#collapse1">Total Amount : {{totalDue}}</span></h4>
        <h4 ng-if ="search.type != 'Cash'" align="right"><span class="label label-default" data-toggle="collapse" href="#collapse1">Total due Amount : {{totalDue}}</span></h4>
				<div id="collapse1" class="panel-collapse collapse">
					<table ng-if="search.type != 'Cash'"
						class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="text-center">Booking Date</th>
								<th class="text-center">Consignment ID</th>
								<th class="text-center">Consignor</th>
								<th class="text-center">Consignee</th>
								<th class="text-center">From</th>
								<th class="text-center">To</th>
								<th class="text-center">Pay Type</th>
								<th class="text-center">Total Amount</th>
							</tr>
						</thead>
						<tbody class=tbody>
							<tr class=tr ng-repeat="consignment in consignments">
								<td class="text-center">{{consignment.entry_Date}}</td>
								<td class="text-center">{{consignment.displayIndex}}</td>
								<td class="text-center">{{consignment.consignor}}</td>
								<td class="text-center">{{consignment.consingee}}</td>
								<td class="text-center">{{consignment.from}}</td>
								<td class="text-center">{{consignment.to}}</td>
								<td class="text-center">{{consignment.payment_Type}}</td>
								<td class="text-center">{{consignment.total}}</td>
							</tr>
						</tbody>
					</table>
				</div>
	  </div>
  
      <table ng-if ="search.type != 'Cash'" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Payment Date</th>
                <th class="text-center">Type</th>
                <th class="text-center">Cheque Number</th>
                <th class="text-center">Payment Amount</th>
            </tr>
        </thead>
        <tbody class = tbody>
        	<tr  class = tr ng-repeat="payment in payments">
                <td class="text-center">{{payment.date}}</td>
                <td class="text-center">{{payment.type}}</td>
                <td class="text-center">{{payment.chequeNum}}</td>
                <td class="text-center">{{payment.amount}}</td>
            </tr>
            <tr ng-show="addPayment">
                <td> <input type="date" class="form-control" id=date ng-model="payment.date"> </td>
                <td >
                <select  ui-select2 class ="dropdown"  ng-model="payment.type">
    			 <option value="CASH">CASH</option>
    			 <option value="CHEQUE">CHEQUE</option>
    			 <option value="DISCOUNT">DISCOUNT</option>
    		    </select>
    		    </td>
                <td ><input type="text" class="form-control" id="payment_type" ng-model="payment.chequeNum"></td>
                <td ><input type="text" class="form-control" id="payment_type" ng-model="payment.amount"></td>
            </tr>
        </tbody>
    </table>
      <div class="modal-footer">
         <h4 ng-if ="search.type != 'Cash'" align="left"><span class="label label-default">Total paid Amount : {{totalPaid}}</span></h4>
          <h4 ng-if ="search.type != 'Cash'" align="left"><span class="label label-default">Balance : {{totalDue-totalPaid}}</span></h4>
        <button ng-if ="search.type != 'Cash'" ng-hide="addPayment"type="button" class="btn btn-info" ng-click="addPayments(true)">Add Payments</button>
        <button ng-show="addPayment" type="button" class="btn btn-info" ng-click="savePayment(payment)">Save</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="addPayments(false)" >Close</button>
        <button ng-if ="search.type != 'Cash'" type="button" class="btn btn-info" data-dismiss="modal" ng-click="generatePaymentReport()" >Report</button>
      </div>
    </div>

  </div>
</div>

